#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.component {
  margin-bottom: 35px;
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.success {
  background-color: lightgreen;
}

.loading {
  background-color: lightgoldenrodyellow;
}

.error {
  background-color: lightcoral;
}

